#lateral-left {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  width: 35px;
  height: 100%;
  top: 0;
  right: 20px;
  z-index: 1;
}
@media (width <= 1356px) {
  #lateral-left {
    right: 5px;
  }
}

#lateral-left .box-vl {
  height: 200px;
  margin-bottom: 10px;
}

#lateral-left .vl {
  border-right: 2px solid var(--vt-c-pink);
  width: 2px;
  height: 100%;
  margin: auto;
}

#lateral-left a:last-child {
  margin-bottom: 20px;
}
