header {
  width: 100%;
  display: flex;
  place-items: center;
  padding: 0 0.5rem;
  position: sticky;
  top: 0px;
  border: 1px solid var(--color-border);
  background-color: hsla(0, 0%, 9%, 0.9);
  z-index: 100;
}
header .wrapper {
  width: 100%;
}

.logo {
  display: block;
  margin: 0.5rem 1rem;
}

nav {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}
nav a:not(.static).router-link-exact-active {
  color: var(--vt-c-pink);
}
nav a.router-link-exact-active:hover {
  background-color: transparent;
}
nav a {
  padding: 0 1rem;
}
nav a:first-of-type {
  flex-grow: 1;
  font-size: 1.6rem;
}
