.animated-heart {
  background: var(--vt-c-pink);
}
.animated-heart .svg-inline--fa {
  color: var(--vt-c-white-soft);
}
.animated-heart::before,
.animated-heart::after {
  background: var(--vt-c-pink);
  opacity: 0.8;
}
.animated-heart::after {
  background: var(--vt-c-pink);
  opacity: 0.6;
}
.animated-heart {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
}
.animated-heart::before,
.animated-heart::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  animation: ripple-1 2s infinite ease-in-out;
  z-index: -1;
}
.animated-heart::after {
  animation: ripple-2 2s infinite ease-in-out;
  animation-delay: 0.5s;
}
@keyframes ripple-1 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes ripple-2 {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    opacity: 0;
  }
}
