@media (max-width: 1024px) {
  body {
    padding: 0 !important;
  }
  h1 {
    font-size: 2.5rem !important;
  }

  #lateral-left,
  nav a:not(:first-of-type) {
    display: none !important;
  }

  #description {
    margin-bottom: calc(var(--section-gap) / 2) !important;
    margin-top: calc(var(--section-gap) / 2) !important;
  }
  .inBetween {
    padding: 2px !important;
  }

  .carousel-wrapper .item {
    width: 100% !important;
  }
  .carousel-wrapper .item .img-shadow {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 1) 100%
    ) !important;
  }

  .slider::before,
  .slider::after {
    width: 50px !important;
  }
}
@media (max-width: 1356px) {
  #lateral-left {
    left: 5px !important;
  }
}

/* Isometric city */

@media (max-width: 1217px) {
  .isometric-city .iso-container {
    height: 570px;
  }
}
@media (min-width: 600px) {
  .isometric-city .iso-container {
    height: 570px;
  }
}
@media (max-width: 600px) {
  .isometric-city .iso-container {
    margin-top: -100px;
    margin-left: -60px;
    margin-left: -15%;
    transform: scale(0.5);
  }
  .isometric-city .iso-description {
    flex-grow: 0;
    min-width: 365px;
  }
}
@media (prefers-reduced-motion) {
  .isometric-city .car div.one,
  .isometric-city .car div.two {
    display: none !important;
    animation: none !important;
  }
}
