@media (width <= 1024px) {
  #app {
    padding: 0 !important;
  }
  h1 {
    font-size: 2.5rem !important;
  }

  #lateral-left,
  nav a:not(:first-of-type) {
    display: none !important;
  }

  header,
  #description,
  #skills,
  #projects {
    margin-bottom: calc(var(--section-gap)) !important;
  }

  .skills-container,
  .carousel,
  .isometric-city {
    justify-content: flex-start !important;
  }
}
