@import './css/base.css';
@import './css/media.css';
@import './css/out.css';
@import './css/heart.css';

#app {
  margin: 0 auto;
  max-width: 1324px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.1;
}
h2 {
  margin-bottom: 30px;
}

p {
  margin: 10px 0;
}

a .svg-inline--fa {
  color: var(--color-text);
}
a:hover .svg-inline--fa,
.svg-inline--fa.pink {
  color: var(--vt-c-pink);
}
a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
  padding: 3px;
}
a:hover {
  color: var(--vt-c-pink);
}

.align-center {
  text-align: center;
}

span.separator {
  margin: 0 10px;
}
.highlight {
  color: var(--vt-c-pink);
}

.grow {
  flex-grow: 1;
}
.rounded {
  border-radius: 10px;
}

/* Custom scrollbar */

body {
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-moz-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: var(--vt-c-black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--vt-c-pink);
}

/* Specific css */

#description {
  margin-bottom: calc(var(--section-gap) * 1.5);
}
header {
  margin-bottom: calc(var(--section-gap));
}

.pins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.pins span {
  border: 1px solid var(--vt-c-pink);
  border-radius: 15px;
  padding: 2px 10px;
}
